.venv/
.env/
*.toml
*.lock
.python-version
__pycache__/
*.pyc
*.pyo
data/raw/
data/merged/
data/time_slices/
*.joblib
*.parquet
*.feather
notebook/
.ipynb_checkpoints/
.DS_Store
.vscode/
.idea/
*.zip
.*swp
kaggle.json