.*toml
venv/
.DS_Store
.python-version
.*swp
data/raw/
data/merged/
data/time_slices/
*.zip
*.zip
*.csv
*.pkl
kaggle.json
notebook/data/raw/*.csv
data/time_slices/*.csv
*.zip
sample_submission.csv
test_identity.csv
data/raw/test_identity.csv
data/raw/sample_submission.csv
